# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
.env/
.env*

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log

# OS / misc
.DS_Store
Thumbs.db

data/
graph/
vedio/

# Camera/experiment files (可能较大)
*.cihx
